{% extends 'template.html' %}

{% block body %}
  {% if session['logged_in'] %}
    <h1>Acest grup apartine lui {{ owner }} </h1><br>

    <hr>
    <h2>Temele sunt:</h2>
    <table class="table">
      {% for homework in givenHomework %}
      <tr>
        <td> {{ homework[0] }} </td>
        <td><a href="/download/{{ homework[1] }}" download> Descarcă Instrucțiunile </a></td>
        <td><a href="/uploadHomworkAsStudent/{{ homework[1] }}">Adaugă Tema</a></td>
      </tr>
      {% endfor %}
    </table>
    <hr>
    <h2>Membrii grupului sunt:</h2>
    <ul class="list-group">
      {% for member in members %}
        <li class="list-group-item">{{ member }} <br>
        {% if member == owner %}
        <b>Proprietar</b>
        {% endif %}
         </li>
      {% endfor %}
    </ul>
    <hr>
    <button class="btn btn-primary" onclick="history.back()">Back</button>

  {% else %}
    <h1>Eroare! Nu esti logat!</h1>
  {% endif %}
{% endblock %}
